/* OFFICIAL BACKGROUND COLOR = #b3c6ff */
/*
:root {
  background-color: brown;
} */
/* :root {
  --main-bg-color: brown;
} */

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
} */

/* .App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
} */

/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */

/* #b3c6ff (#043868) original background color */

.App {
  text-align: center;
}

#Header {
  background-color: #b3c6ff;
}

.GodContainer {
  height: 100%;
  width: 100%;
  background-color: #054e91;
}

#SearchBar {
  position: relative;
  top: 10px;
  background-color: #054e91;
}

#search-input {
  text-align: center;
  font-size: 24px;
  position: relative;
  top: 21px;
  right: 65px;
  border-radius: 20px;
}

#search-label {
  position: relative;
  top: 23px;
  left: 75px;
  font-size: 26px;
  color: #34af49;
}

#search-dropdown {
  position: relative;
  top: 17px;
  left: 100px;
  size: 30px;
}

#ResultsList {
  position: relative;
  top: 50px;
  background-color: #e5ffcc;
  border: solid 7px #00ffcc;
  border-radius: 30px;
  padding: 10px;
  width: 90%;
  margin: auto;
}

#Profile {
  background-color: #e5ffcc;
  border: solid 7px #00ffcc;
  border-radius: 30px;
  padding: 30px;
  width: 70%;
  height: auto;
  margin: auto;
}

#profile-name {
  position: relative;
  top: 10px;
  right: 150px;
  width: 400px;

}

#profile-below-name {
  position: relative;
  bottom: 150px;
  left: -248px;
  width: 200px;
}

#profile-left-button {
  position: relative;
  bottom: 11px;
  left: -250px;
  width: 85px;
  /* border: solid 2px black;
  border-radius: 3px; */

}

#profile-right-button {
  position: relative;
  bottom: 46px;
  right: 0px;
  /* border: solid 2px black;
  border-radius: 3px; */
  width: 86.5px;
}

.edit-profile-coach-checkbox {
  position: relative;
  top: 30px;
}

#edit-profile-button {
  position: relative;
  bottom: -20px;
  left: 10px;
  /* border: solid 2px black;
  border-radius: 3px; */
  width: 126px;
}

#opening-login-page {
  position: relative;
  top: 50px;
  left: 27vw;
  margin: 10vw;
  width: 25vw;
  height: 32vw;
  background-color: #e5ffcc;
  border: solid 7px #00ffcc;
  border-radius: 30px;
  padding: 10px;
}

#opening-login-error-page {
  position: relative;
  top: 50px;
  left: 27vw;
  margin: 10vw;
  width: 25vw;
  height: 41vw;
  background-color: #e5ffcc;
  border: solid 7px #00ffcc;
  border-radius: 30px;
  padding: 10px;
}

#opening-signup-page {
  position: relative;
  top: 50px;
  left: 27vw;
  margin: 10vw;
  width: 25vw;
  height: 36vw;
  background-color: #e5ffcc;
  border: solid 7px #00ffcc;
  border-radius: 30px;
  padding: 10px;
}

#opening-signup-error-page {
  position: relative;
  top: 50px;
  left: 27vw;
  margin: 10vw;
  width: 25vw;
  height: 46.5vw;
  background-color: #e5ffcc;
  border: solid 7px #00ffcc;
  border-radius: 30px;
  padding: 10px;
}

#profile-pic {
  position: relative;
  bottom: 75px;
  left: 255px;
  height: 200px;
  width: 200px;
  border: solid black
}

.menu-bar {
  background-color: yellow
}
