/* OFFICIAL BACKGROUND COLOR = #b3c6ff */
/*
:root {
  background-color: brown;
} */
/* :root {
  --main-bg-color: brown;
} */

.App {
  text-align: center;
  background-color: #b3c6ff;
}

#Header {
  background-color: #b3c6ff;
}

#SearchBar {
  background-color: #b3c6ff;
}

#ResultsList {
  background-color: #b3c6ff;
}

#Profile {
  background-color: white;
  border: solid black;
  width: 90%;
  margin: auto
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.opening-login-page {
  position: relative;
  top: 300px;
  margin: auto;
  width: 30%;
  height: 125px;
  background-color: #e5ffcc;
  border: solid 7px #00ffcc;
}

#profile-pic {
  position: relative;
  bottom: 15px;
  left: 55px;
  height: 200px;
  width: 200px;
  border: solid black
}
