/* OFFICIAL BACKGROUND COLOR = #b3c6ff */
/*
:root {
  background-color: brown;
} */
/* :root {
  --main-bg-color: brown;
} */

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
} */

/* .App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
} */

/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */

.App {
  text-align: center;
  background-color: #b3c6ff;
}

#Header {
  background-color: #b3c6ff;
}

.GodContainer {
  height: 100%;
  width: 100%;
  background-color: #b3c6ff;
}

#SearchBar {
  background-color: #b3c6ff;
}

#ResultsList {
  background-color: #b3c6ff;
}

#Profile {
  background-color: #e5ffcc;
  border: solid 7px #00ffcc;
  padding: 10px;
  width: 90%;
  height: 5%;
  margin: auto
}



#opening-login-page {
  position: relative;
  top: 50px;
  left: 27vw;
  margin: 10vw;
  width: 25vw;
  height: 32vw;
  background-color: #e5ffcc;
  border: solid 7px #00ffcc;
  border-radius: 30px;
  padding: 10px;
}

#opening-login-error-page {
  position: relative;
  top: 50px;
  left: 27vw;
  margin: 10vw;
  width: 25vw;
  height: 41vw;
  background-color: #e5ffcc;
  border: solid 7px #00ffcc;
  border-radius: 30px;
  padding: 10px;
}

#opening-signup-page {
  position: relative;
  top: 50px;
  left: 27vw;
  margin: 10vw;
  width: 25vw;
  height: 36vw;
  background-color: #e5ffcc;
  border: solid 7px #00ffcc;
  border-radius: 30px;
  padding: 10px;
}

#opening-signup-error-page {
  position: relative;
  top: 50px;
  left: 27vw;
  margin: 10vw;
  width: 25vw;
  height: 46.5vw;
  background-color: #e5ffcc;
  border: solid 7px #00ffcc;
  border-radius: 30px;
  padding: 10px;
}

#profile-pic {
  position: relative;
  bottom: 1500px;
  left: 55px;
  height: 200px;
  width: 200px;
  border: solid black
}

.menu-bar {
  background-color: yellow
}
